<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        Django Auth Tutorial
    {% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block links %}

    {% endblock %}

    {#        <link rel="stylesheet" href="{% static "css/getSongData.css" %}">#}

</head>
<body>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

</body>

{% block scipts %}



{% endblock %}

</html>